.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card button {
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.botonSeguir{
    background-color: #007bff;
}

.botonDejar{
    background-color: red;
}